/node_modules
/idea
/idea/*
/build
/build/*
/dist/*
/logs
/logs/*
/node_modules/*
yarn.lock
yarn-error.log
package-lock.json
/.vscode
/app.log
.env.local
.env.development
.env.default
.env.qa
.env.staging
.env
/src/uploads
/wallet
/crypto-config
/tlscerts
sonar-project.properties
/.scannerwork
mongocryptd.pid