/node_modules
/idea
/idea/*
/build
/build/*
/dist/*
/logs
/logs/*
/node_modules/*
yarn.lock
yarn-error.log
package-lock.json
/app.log
.env.local
.env.dev
.env.qa
.env.staging
.env.default
.gitlab-ci.yml
/script
/script/*
/.vscode
npm-debug.log
sonar-project.properties
/.scannerwork