<!doctype html>
<html lang="en">

<head>
    <title>iMPROve Health | Welcome</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <style>
        .link {
            padding: 23px 20px;
            width: 320px;
        }
    </style>
</head>

<body style="margin: 0; word-break: break-word;font-family: 'Helvetica', sans-serif; padding: 40px;">
    <table cellpadding="0" cellspacing="0" border="0"
        style="margin: 0 auto; width:880px; max-width: 100%; font-family: 'Helvetica', sans-serif; border-collapse: collapse; text-align: center;">
        <tr>
            <td colspan="3" style="padding: 10px; background: #182F7C;">
            </td>
        </tr>
        <tr>
            <td style="padding: 10px; background: #182F7C; width: 0;">
            </td>
            <td style="padding: 30px 50px 15px; background: white;">
                <table cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse; width: 100%;">
                    <tr>
                        <td style="border-bottom: 1px solid #ededed;padding-bottom: 40px;">
                            <img src="https://improvehealth-devmedia.appskeeper.in/images/logo.png" alt="Logo" style="width: 145px;" />
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top: 30px;">
                            <img src="https://improvehealth-devmedia.appskeeper.in/images/welcome-img.png" style="max-width: 300px;" alt="Welcome" />
                        </td>
                    </tr>
                </table>
            </td>
            <td style="padding: 10px; background: #182F7C; width: 0;"></td>
        </tr>
        <tr>
            <td style="padding: 10px; background: #f2f3f7; width: 0;">
            </td>
            <td style="padding: 20px; background: white;">
                <table style="margin: 0 auto; width: 100%; border-collapse: collapse;">
                    <tr>
                        <td style="padding-left: 30px; padding-right: 30px;">
                            <h2 style="font-size: 24px; font-weight: 700; margin-top: 0; margin-bottom: 16px;">Hello
                                , Welcome to iMPROve Health
                            </h2>
                            <p
                                style="color:#7D7D7D; font-size: 16px; font-weight: 400; margin: 10px auto 32px; line-height: 1.5; max-width: 528px;">
                                Your account has been created on the Improve Health, Click the button to create password
                                of the account.
                            </p>
                            <p style="color:#7D7D7D; font-size: 16px; font-weight: 400; margin: 10px auto 32px; line-height: 1.5; max-width: 528px;">Email: <span style="color:#0395FA;">{{email}}</span>
                                <br />
                                Password: <span style="color:#0395FA;">{{password}}</span>
                            </p>
                            <a href="{{link}}"
                                style="margin-bottom: 32px; border-radius: 8px; background-color: #2348C1; font-size: 16px; font-weight: 600; color: #FFFFFF; text-decoration: none; display: inline-block; vertical-align: middle;"
                                class="link">
                                Access Portal
                            </a>
                            <p
                                style="color:#7D7D7D; font-size: 16px; font-weight: 400; margin: 0 auto 16px; line-height: 1.5;">
                                Or, copy and paste this URL into your browser:</p>
                            <a style="color:#182F7C; font-size: 16px; font-weight: 500;"
                                href="{{link}}">{{link}}</a>
                            <div
                                style="border-top: 1px solid #ededed; padding-bottom: 20px; padding-top: 28px; margin-top: 40px;">
                                <p
                                    style="color:#7D7D7D; font-size: 16px; font-weight: 400; margin: 10px auto; line-height: 1.5;">
                                    Improve Health will never ask you to disclose or verify your password or OTP. If you
                                    didn't request a password reset, feel free to ignore this email.
                                </p>
                                <p
                                    style="color:#7D7D7D; font-size: 16px; font-weight: 400; margin: 10px auto; line-height: 1.5;">
                                    If you did not make this request, Please contact us at <a
                                        href="mailto:support@improve.health"
                                        style="color: #182F7C; font-weight: 500;">support@improve.health</a></p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color: #1ca1b505; font-weight: 500; padding: 23px;">
                            <p style="margin-bottom: 20px;">
                                This is an automatically generated email by Improve Health. Do not reply.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color: #1E1E1E; padding: 34px 40px 0;">
                            <table style="width: 100%;">
                                <tr>
                                    <td style="text-align: left; padding-bottom: 24px;">
                                        <ul style="margin: 0; padding: 0; display: block;">
                                            <li style="display: inline-block;">
                                                <a href="#"
                                                    style="font-size: 12px; margin-left: 20px; margin-right: 40px; color: #FFFFFF; text-decoration: none;">About
                                                    Us</a>
                                            </li>
                                            <li style="display: inline-block;">
                                                <a href="https://www.improve.health/privacy-policy/"
                                                    style="font-size: 12px; margin-right: 40px; color: #FFFFFF; text-decoration: none;">Privacy
                                                    Policy</a>
                                            </li>
                                            <li style="display: inline-block;">
                                                <a href="#"
                                                    style="font-size: 12px; margin-right: 40px; color: #FFFFFF; text-decoration: none;">Terms
                                                    & Condition</a>
                                            </li>
                                        </ul>
                                    </td>
                                    <td style="text-align: right; padding-bottom: 24px;">
                                        <ul style="margin: 0; padding: 0; display: block;">
                                            <li style="display: inline-block;">
                                                <a href="https://www.facebook.com/iMPROveHealthCares/" style="margin-right: 20px; text-decoration: none;"
                                                    aria-label="Facebook">
                                                    <img src="https://improvehealth-devmedia.appskeeper.in/images/facebook.png" width="20px" alt="" />
                                                </a>
                                            </li>
                                            <li style="display: inline-block;">
                                                <a href="#" style="margin-right: 20px; text-decoration: none;"
                                                    aria-label="Instagram">
                                                    <img src="https://improvehealth-devmedia.appskeeper.in/images/instagram.png" width="20px" alt="" />
                                                </a>
                                            </li>
                                            <li style="display: inline-block;">
                                                <a href="https://twitter.com/iMPROveHealthMI/" style="margin-right: 20px; text-decoration: none;"
                                                    aria-label="Twitter">
                                                    <img src="https://improvehealth-devmedia.appskeeper.in/images/twitter.png" width="20px" alt="" />
                                                </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div
                                            style="text-align: center; font-size: 12px; font-weight: 500; color: #FFFFFF; border-top: 1px solid #ffffff1a; padding-top: 20px; margin-bottom: 20px;">
                                            © 2024 Improve Health. All Rights Reserved.
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
            <td style="padding: 10px; background: #f2f3f7; width: 0;"></td>
        </tr>
        <tr>
            <td colspan="3" style="padding: 10px; background: #f2f3f7;"></td>
        </tr>
    </table>
</body>

</html>